node_modules/
npm-debug.log

dist/

src/assets/vendor/fonts/*
!src/assets/vendor/fonts/circular-std/style.css
!src/assets/vendor/fonts/fontawesome/css/fontawesome-all.css
!src/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css
!src/assets/vendor/fonts/flag-icon-css/flag-icon.min.css
src/assets/libs/css/*
!src/assets/libs/css/style.css

src/assets/vendor/charts/chartist-bundle/*
!src/assets/vendor/charts/chartist-bundle/chartist.css
src/assets/vendor/charts/morris-bundle/*
!src/assets/vendor/charts/morris-bundle/morris.css

src/assets/vendor/charts/c3charts/*
!src/assets/vendor/charts/c3charts/c3.css

src/assets/images/*
!src/assets/images/profile.jpg
!src/assets/images/account.png
!src/assets/images/robot.jpg


src/assets/vendor/slimscroll/*
!src/assets/vendor/slimscroll/jquery.slimscroll.js

src/assets/libs/js/*
!src/assets/libs/js/main-js.js

src/assets/vendor/charts/chartist-bundle/*
!src/assets/vendor/charts/chartist-bundle/chartist.min.js

src/assets/vendor/charts/sparkline/*
!src/assets/vendor/charts/sparkline/jquery.sparkline.js

!src/assets/vendor/charts/morris-bundle/raphael.min.js
!src/assets/vendor/charts/morris-bundle/morris.js
!src/assets/vendor/charts/c3charts/c3.min.js
!src/assets/vendor/charts/c3charts/d3-5.4.0.min.js
!src/assets/vendor/charts/c3charts/C3chartjs.js
!src/assets/libs/js/dashboard-ecommerce.js


